    <br>
    <br>
    <br>
    <br>
    <br>
    	<div class="container">
    		<p><%= raw(@blog.body) %></p>
    		<br>
        	         
        	<br>
            <%= commontator_thread(@blog) %>
            <br>
           <p> <% if current_user %>
                    <%= current_user.user_name %>, you're awesome ;-). We are waiting for your wise words of wisdom.</p>
                    <% else %>
                    <%= link_to 'LOGIN', '/users/sign_in' %>
                    <% end %>
        </div>
    <br>
<div class="text-center">
<%= link_to "Back", :back, :class => "btn btn-default btn-lg" %>
</div>
<br>