  <!-- Navigation -->
  <div id="navigation" class="navbar navbar-fixed-top navbar-default" role="navigation">
      <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#intro">Pascology</a>
        </div>

        <div class="navigation">
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <nav>
              <ul class="nav navbar-nav navbar-right">
                <li class="current"><%= link_to 'HOME',homes_index_path %></li>
                <li class="current"><%= link_to 'COURSES',classrooms_index_path %></li>
                <li> <% if current_user %>
                    <%= link_to 'LOGOUT', '/users/sign_out' %>
                    <% else %></li>
                    <li>  <%= link_to 'LOGIN', '/users/sign_in' %></li>
                    <li> <%= link_to 'SIGNUP', '/users/sign_up' %></li>
                    <% end %>
              </ul>
            </nav>
          </div>
          <!-- /.navbar-collapse -->
        </div>

      </div>
    </div>
  <!-- /Navigation -->
<br>
<br>
<br>
<br>

<div class="container">
	<div class="col-sm-12 text-center">
	    <h1><strong><%= @classroom.title %></strong></h1>
	</div>	
	<h2><strong><%= current_user.user_name %></strong></h2>

<div class="row" id="features">
    <div class="herog col-sm-3 text-center">
      <br>
      <!--<h3 class="text-center"><%= link_to 'Edit', '/users/edit', {:style=>'text-decoration:none;'}%></h3>-->
       <% for resource in @classroom.resources %>
        <a><%= link_to "PDF's", resource_path(resource), :class => "btn btn-lg" %></a>
        <% end %>

        <% for question in @classroom.questions %>
        <a><%= link_to "Questions", question_path(question), :class => "btn btn-lg" %></a>
        <% end %>
    </div>
</div>
</div>
<div class="container">
<% @classroom.sems.order(created_at: :asc).each do |sem| %>
<h1><%= sem.title%></h1>
<div><%= raw(sem.body) %></div>
<div class="container text-center">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="row">
                    <ul class="col-md-12">
                      <% sem.outlines.order(created_at: :asc).each do |outline| %>
                        <li class="spidey list-group-item">
                          <tr><a><%= link_to outline.title, outline_path(outline)%></a></tr>
                        </li>
                      <% end %>
                    </ul>
                </div>
            </div> 
        </div>
    </div>
</div>
<br>
<br>
<% end %>
<br>
</div>
<div class="herog text-center">
<a><%= link_to "Back", :back, :class => "btn btn-lg" %></a>
</div>
<br>
<br>
