<br>
<br>
<br>
<br>
<br>
<br>



	<div class="container">
		<div class="col-sm-12 text-center">
				<h1><strong><%= @classroom.title %></strong></h1>
		</div>
		<h3 class="text-right">Settings <%= link_to '', '/users/edit', {:style=>'text-decoration:none; font-size:30px;', :class => "fa fa-gear fa-spin"}%> </h3>
		<h2><strong>Welcome <%= current_user.user_name %></strong></h2>

		<div class="row" id="features">
			    <% for outline in @classroom.outlines %>
				<%= link_to(image_tag("/assets/tmz.jpg", :class => "col-sm-4 img-responsive img-thumbnail" ), outline_path(outline)) %>
				<% end %>

				<% for resource in @classroom.resources %>
				<%= link_to(image_tag("/assets/tmz2.jpg", :class => "col-sm-4 img-responsive img-thumbnail" ), resource_path(resource)) %>
				<% end %>

				<% for question in @classroom.questions %>
				<%= link_to(image_tag("/assets/tmz3.jpg", :class => "col-sm-4 img-responsive img-thumbnail" ), question_path(question)) %>
				<% end %>
		</div>
		<br>
		<br>
		<div>
			<div class="container"><%= raw(@classroom.body) %> </div>
			<br>
			<br><p>Whatsapp, text or call 0242911291 in case of any issues or quesitons</p>
			<!--<div class="container col-sm-12"> <%= commontator_thread(@classroom) %> </div>-->
		</div>
</div>

<div class="text-center">
<%= link_to "Back", :back, :class => "btn btn-default btn-lg" %>
</div>
<br>
<br>