<br>
<br>
<br>
<br>
<br>
<br>



	<div class="container">
		<div class="col-sm-12 text-center">
				<h1><strong><%= @classroom.title %></strong></h1>
		</div>
		
		<h2><strong>Welcome <%= current_user.user_name %></strong></h2>

		<div class="row" id="features">
			<div class="col-sm-3 text-center">
				<h3 class="text-center">Settings <%= link_to '', '/users/edit', {:style=>'text-decoration:none; font-size:30px;', :class => "fa fa-gear fa-spin"}%> </h3>
			    <% for outline in @classroom.outlines %>
			    <strong><h2><%= link_to "Time Table", outline_path(outline), :class => "btn btn-default btn-lg" %></h2></strong>
				<% end %>

				<% for resource in @classroom.resources %>
				<strong><h2><%= link_to "PDF's", resource_path(resource), :class => "btn btn-default btn-lg" %></h2></strong>
				<% end %>

				<% for question in @classroom.questions %>
				<strong><h2><%= link_to "Questions", question_path(question), :class => "btn btn-default btn-lg" %></h2></strong>
				<% end %>
				
			</div>
			<div class="col-sm-9">
				<div class="container"><%= raw(@classroom.body) %> </div>
			</div>
		</div>
		<br>
		<br>
		<div>
			
			<br>
			<br><p class="text-center">Whatsapp, text or call 0242911291 in case of any issues or quesitons</p>
		
		</div>
</div>

<div class="text-center">
<%= link_to "Back", :back, :class => "btn btn-default btn-lg" %>
</div>
<br>
<br>