<div id="navigation" class="navbar navbar-fixed-top navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#intro">Pascology</a>
    </div>
    <div class="navigation">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li class="current"><%= link_to 'HOME',homes_index_path %></li>
              <li> 
                <% if current_user %>
                <%= link_to 'LOGOUT', '/users/sign_out' %>
                <% else %>       
              </li>
              <li><%= link_to 'LOGIN', '/users/sign_in' %></li>
              <li> <%= link_to 'SIGNUP', '/users/sign_up' %></li>
              <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
  <!-- /Navigation -->
  <br>
  <br>
  <br>
<section class="vilain text-center form-horizontal"> 
  <h1 class="">Sign UP</h1> 
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <form class="form-horizontal container">
  <p style="color: white;"><%= devise_error_messages! %></p>
    <div class="form-group">
      <label for="" class="lady col-sm-2 control-label">Name</label>
      <div class="col-sm-8">
        <%= f.text_field :user_name, autofocus: true, :class=>"form-control", :placeholder=>"What ur mum calls you" %>
      </div>
    </div>
    <div class="form-group">
      <label for="integer" class="lady col-sm-2 control-label">Number</label>
      <div class="col-sm-8">
        <%= f.number_field :whatsapp, :class=>"form-control", :placeholder=>"WhatsApp Number" %>
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="lady col-sm-2 control-label" >Email</label>
      <div class="col-sm-8">
        <%= f.email_field :email, :class=>"form-control", :placeholder=>"Herh!! are you still using YAHOO?" %>
      </div>
    </div>
    <div class="form-group">
      <label for="sel1" class="lady col-sm-2 control-label">Major</label>
        <div class="col-sm-8">
          <%= f.select(:major, ['NONE','ECONOMICS','GEOGRAPHY','FRENCH'], {}, { :class => 'form-control' }) %>
        </div>
    </div>
    <div class="form-group">
      <label for="sel1" class="lady col-sm-2 control-label">Minor</label>
        <div class="col-sm-8">
          <%= f.select(:minor, ['NONE','ECONOMICS','GEOGRAPHY','FRENCH'], {}, { :class => 'form-control' }) %>
        </div>
    </div>
    <div class="form-group">
      <label for="sel1" class="lady col-sm-2 control-label">level</label>
        <div class="col-sm-8">
          <%= f.select(:level, ['NONE','100','200','300','400'], {}, { :class => 'form-control' }) %>
        </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="lady col-sm-2 control-label">Password</label>
      <div class="col-sm-8">
        <%= f.password_field :password, autocomplete: "off", :class=>"form-control" %>
        <% if @minimum_password_length %>
          <p style="color: white;">(<%= @minimum_password_length %> characters minimum)</p>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword3" class="lady col-sm-2 control-label">Retype Password</label>
      <div class="col-sm-8">
      <%= f.password_field :password_confirmation, autocomplete: "off", :class=>"form-control", :placeholder=>"Type your password again quickly they are watching" %>
      </div>
    </div>
    <div class="form-group col-md-6">
      <div class="actions" style="color: black;"><%= f.submit "Sign up", :class => "btn btn-success btn-lg" %>
      </div>
    </div>
  </form>
  <% end %>
</section>