    <!-- Section: home video -->
  <section class="hero" id="intro">
      <div class="container">
          <div class="animatedParent container">
            <h1 class="animated fadeInDown col-md-12 h-bold">ECONOMIC STUDENTS' ASSOCIATION (KNUST) </h1>
            <p class="animated fadeInUp h-bold col-md-12 pull-left">BRAINS BEHIND GREAT DECISIONS</p>
              <br>
              <div class="col-md-12 pull-left">
              <a  href="#courses" class="btn btn-blood" id="btn-scroll">FIND COURSES</a>
            </div>
          </div>
      </div>
  </section>
  <!-- /Section: intro -->


  <!-- Navigation -->
  <div id="navigation">
    <nav class="navbar navbar-custom" role="navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-2 mob-logo">
            <div class="row">
              <div class="site-logo">
                <a class="navbar-brand" href="/homes/index">
                     <span class="light">ESA KNUST</span>
                </a>
              </div>
            </div>
          </div>


          <div class="col-md-10 mob-menu">
            <div class="row">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                  <i class="fa fa-bars"></i>
                </button>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav navbar-right">
                  <li class="active"><a href="#intro">Home</a></li>
                  <li><a href="#courses">courses</a></li>
                  <li><a href="#about">about</a></li>
                  <li> <% if current_user %>
                    <%= link_to 'LOGOUT', '/users/sign_out' %>
                    <% else %></li>
                    <li class="page-scroll">  <%= link_to 'LOGIN', '/users/sign_in' %></li>
                    <li class="page-scroll"> <%= link_to 'SIGNUP', '/users/sign_up' %></li>
                    <% end %>
                </ul>
              </div>
              <!-- /.Navbar-collapse -->
            </div>
          </div>
        </div>
      </div>
      <!-- /.container -->
    </nav>
  </div>
  <!-- /Navigation -->
<!-- Courses -->
<div class="courses">
  <section id="courses" class="courses home-section color-dark bg-white">
      <div style="background-color: #def3c8" >
        <div class="container" id="posty">
        <div class="col-md-6">
        <h4 class="text-center muted">Looking for something to study?</h4>
        </div>
        <div class="col-md-6">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" placeholder="Search" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
      </div>
      </div>
      <br>
      <div class="container">
        <div class="col-md-12">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
            <div class="section-heading">
              <h2 class="h-bold">POPULAR COURSES</h2>
            </div>
          </div>
        </div>
      </div>

    <div class="container">
      <div class="row">
        <div>
          <div class="col-md-4">
            <div class="animated rotateInDownLeft slower">
              <a  href="#courses" class="btn btn-blood" id="btn-scroll" style="color: #007db8">ECONOMETRICS</a>
              <li class="page-scroll"> <%= link_to 'SIGNUP', '/users/sign_up' %></li>
            </div>
          </div>
          <div class="col-md-12 wow fadeInDown feature" data-wow-duration="1000ms" data-wow-delay="700ms">
                <% for year in @years %>
                    <strong><h2><%= link_to year.title, year_path(year), :class => "btn btn-blood", :style => "color: black; " %></h2></strong>
                <% end %>
            </div><!-- end feature -->

          <div class="col-md-4">
            <div class="animated rotateInDownLeft slower">
              <a  href="#courses" class="btn btn-blood" id="btn-scroll" style="color: #007db8">ECONOMY OF GHANA</a>
              <li class="page-scroll"> <%= link_to 'SIGNUP', '/users/sign_up' %></li>
            </div>
          </div>
          

          <div class="col-md-4">
            <div class="animated rotateInDownLeft slower">
              <a  href="#courses" class="btn btn-blood" id="btn-scroll" style="color: #007db8">LABOUR ECONOMICS</a>
              <li class="page-scroll"> <%= link_to 'SIGNUP', '/users/sign_up' %></li>
            </div>
          </div>              
        </div>
      </div>

      <div class="row">
        <div>
          <div class="col-md-4">
            <div class="animated rotateInDownLeft slower">
              <a  href="#courses" class="btn btn-blood" id="btn-scroll" style="color: #007db8">Micro Economics</a>
              <li class="page-scroll"> <%= link_to 'SIGNUP', '/users/sign_up' %></li>
            </div>
          </div>

          <div class="col-md-4">
            <div class="animated rotateInDownLeft slower">
              <a  href="#courses" class="btn btn-blood" id="btn-scroll" style="color: #007db8">Monetary Economics</a>
              <li class="page-scroll"> <%= link_to 'SIGNUP', '/users/sign_up' %></li>
            </div>
          </div>

          <div class="col-md-4">
            <div class="animated rotateInDownLeft slower">
              <a  href="#courses" class="btn btn-blood" id="btn-scroll" style="color: #007db8">Financial Economics</a><li class="page-scroll"> <%= link_to 'SIGNUP', '/users/sign_up' %></li>
            </div>
          </div>              
        </div>
      </div>
    </div>
    <br>
    <div class="container text-center">
      <%= link_to 'VIEW ALL COURSES',years_index_path, :class => "btn btn-blood btn-lg", :style => "color: black;"%>
    </div>
  </section>
</div>
<!-- /Courses -->

<!-- Section: parallax 1 -->
  <section id="parallax1" class="home-section parallax text-light" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h2 class="big-heading highlight-dark wow bounceInDown" data-wow-delay="0.2s">“BRAINS BEHIND GREAT DECISIONS”</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
<br>
<br>

<section>
 <div class="container">
 <div class="row">
  <div class="col-md-4" id="about">
    <div class="wow bounceInUp text-center" data-wow-delay="0.2s">
        <img src="/assets/esalogo.jpg", class="img-responsive img-thumbnail img-circle">
        <div class="text-center"><%= link_to 'ABOUT ESA',abouts_index_path, :class => "btn btn-success btn-lg"%></div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="wow bounceInUp text-center" data-wow-delay="0.2s">
        <img src="/assets/esa2.jpg", class="img-responsive img-thumbnail img-circle">
        <div  class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">EXECUTIVES</div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="wow bounceInUp text-center" data-wow-delay="0.2s">
        <img src="/assets/yes.png", class="img-responsive img-thumbnail img-circle">
        <div class="btn btn-success btn-lg"><a href="https://apps.knust.edu.gh/">KNUST PORTAL</a></div>
    </div>
  </div>
 </div>
 </div>
</section>
<br>
<br>



  <!-- Section: parallax 3 -->
  <section id="parallax3" class="home-section parallax text-light text-center" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="testimonialslide clearfix flexslider">
            <ul class="slides">
              <li class=" highlight-dark">
                <blockquote>
                  Website made by
                </blockquote>
                <h4>CHAIRMAN WEB SOLUTIONS</h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- google map -->
  <div id="map-btn1-div">
    <a id="map-btn1" class="gmap-btn close-map-button btn-show" href="#map">
        Click here to view map
        </a>
  </div>
  <a id="map-btn2" class="btn btn-blood btn-lg btn-noradius gmap-btn close-map-button btn-hide" href="#map" title="Close google map" data-toggle="tooltip" data-placement="top" style="color: black;">esaknust17@gmail.com</a>
  <!-- google map -->
  <section id="map" class="close-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15851.242524297906!2d-1.5671996642334007!3d6.67037227543615!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sgh!4v1522770563826" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
  </section>
  <!-- /google map -->




<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">EXECUTIVES</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-4">
            <div class="team-wrapper-big wow bounceInUp" data-wow-delay="0.2s">
              <div class="team-wrapper-overlay"><h5></h5><p>EMMANUEL HANSON<br>PRESIDENT</p></div>
              <img src="/assets/esa2.jpg", class="img-responsive img-thumbnail img-circle">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="team-wrapper-big wow bounceInUp" data-wow-delay="0.4s">
              <div class="team-wrapper-overlay"><p>ODOI EDWIN JUNIOR<br>VICE PRESIDENT</p></div>
              <img src="/assets/esa6.jpg", class="img-responsive img-thumbnail img-circle">
            </div>
          </div>

          <div class="col-sm-4">
            <div class="team-wrapper-big wow bounceInUp" data-wow-delay="0.6s">
              <div class="team-wrapper-overlay"><p>Ridout Quaicoe<br>FIANCIAL SECRETARY</p></div>
              <img src="/assets/esa3.jpg", class="img-responsive img-thumbnail img-circle">
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-sm-4">
            <div class="team-wrapper-big wow bounceInUp" data-wow-delay="0.8s">
              <div class="team-wrapper-overlay"><p>Justice Boateng<br>ORGANISING SECETARY</p></div>
              <img src="/assets/esa5.jpg", class="img-responsive img-thumbnail img-circle">
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-wrapper-big wow bounceInUp" data-wow-delay="1s">
              <div class="team-wrapper-overlay"><p>Schaneil Acquah<br>GENERAL SECRETARY</p></div>
              <img src="/assets/esa1.jpg", class="img-responsive img-thumbnail img-circle">
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="team-wrapper-big wow bounceInUp" data-wow-delay="1.2s">
              <div class="team-wrapper-overlay"><p>Linda Nkrumah<br>WOMEN'S COMMISSIONER</p></div>
              <img src="/assets/esa4.jpg", class="img-responsive img-thumbnail img-circle">
            </div>
          </div>
        </div>      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>