  <!-- Navigation -->
  <div id="navigation" class="navbar navbar-fixed-top navbar-default" role="navigation">
      <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#intro">Pascology</a>
        </div>

        <div class="navigation">
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <nav>
              <ul class="nav navbar-nav navbar-right">
                <li class="current"><a href="#intro">Home</a></li>
                <li> <% if current_user %>
                    <%= link_to 'LOGOUT', '/users/sign_out' %>
                    <% else %></li>
                    <li>  <%= link_to 'LOGIN', '/users/sign_in' %></li>
                    <li> <%= link_to 'SIGNUP', '/users/sign_up' %></li>
                    <% end %>
              </ul>
            </nav>
          </div>
          <!-- /.navbar-collapse -->
        </div>

      </div>
    </div>
  <!-- /Navigation -->
<section class="vilain text-center">
<h1 class="">LOGIN</h1>
<form class="form-horizontal container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-4">
      <%= f.email_field :email, autofocus: true, :class=>"form-control", :placeholder=>"Your Email" %>
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-4">
      <%= f.password_field :password, autocomplete: "off", :class=>"form-control", :placeholder=>"SHHH!! don't say it out loud." %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
      <div class="checkbox">
        <label>
          <% if devise_mapping.rememberable? -%>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          <% end %>
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
        <%= f.submit'Log in', :class => "btn btn-success btn-lg" %>
    </div>
    <% end %>
    <br>
   <!-- <%= render "devise/shared/links" %>-->
  </div>
</form>
</section>