  <!-- Navigation -->
  <div id="navigation" class="navbar navbar-fixed-top navbar-default" role="navigation">
      <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#intro">Pascology</a>
        </div>

        <div class="navigation">
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <nav>
              <ul class="nav navbar-nav navbar-right">
                <li class="current"><%= link_to 'HOME',homes_index_path %></li>
                <li> <% if current_user %>
                    <%= link_to 'LOGOUT', '/users/sign_out' %>
                    <% else %></li>
                    <li>  <%= link_to 'LOGIN', '/users/sign_in' %></li>
                    <li> <%= link_to 'SIGNUP', '/users/sign_up' %></li>
                    <% end %>
              </ul>
            </nav>
          </div>
          <!-- /.navbar-collapse -->
        </div>

      </div>
    </div>
  <!-- /Navigation -->
<br>
<br>
<br>
<br>
<br>
<div class="container text-center">
    <h2><strong>welcome <%= current_user.user_name %></strong></h2>

<% @years.each do |year| %>

<div class="goldfish container text-center ">
 <div class="row">
  <div class="col-md-12">
   <div class="row">
    <div class="spidey">
     <table class="table table-striped">
      <thead>
       <tr><th class="text-center"><h5><%= year.title%></h5></th></tr>
      </thead>
      <tbody>
       <% year.classrooms.each do |classroom| %>
        <tr><td><a><%= link_to classroom.title, classroom_path(classroom)%></a></td></tr>
       <% end %>
       <br>
      </tbody>
     </table>
    </div>
   </div>
  </div>
 </div>
</div>
<% end %>
</div>