<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="KNUST ECONOMICS ASSOCIATION WEBSITE/WEB APPLICATION BY DAVID ADAFIA">
  <meta name="author" content="David Adafia">
  <title>esa knust | Online Course</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag    "/assets/bootstrap.min.css" %>
  <%= stylesheet_link_tag    "/assets/font-awesome.min.css" %>
  <%= stylesheet_link_tag    "/assets/nivo-lightbox.css" %>
  <%= stylesheet_link_tag    "/assets/default.css" %>
  <%= stylesheet_link_tag    "/assets/owl.carousel.css" %>
  <%= stylesheet_link_tag    "/assets/owl.theme.css" %>
  <%= stylesheet_link_tag    "/assets/flexslider.css" %>
  <%= stylesheet_link_tag    "/assets/animate.css" %>
  <%= stylesheet_link_tag    "/assets/style.css" %>
  <%= stylesheet_link_tag    "/assets/defaultc.css" %>
  
</head>
<body>
<!-- Navigation -->
    

<%= yield %>
 <!-- Footer -->
    
<%= javascript_include_tag "/assets/jquery.min.js" %>
<%= javascript_include_tag "/assets/bootstrap.min.js" %>
<%= javascript_include_tag "/assets/jquery.sticky.js" %>
<%= javascript_include_tag "/assets/slippry.min.js" %>
<%= javascript_include_tag "/assets/jquery.flexslider-min.js" %>
<%= javascript_include_tag "/assets/morphext.min.js" %>
<%= javascript_include_tag "/assets/gmap.js" %>
<%= javascript_include_tag "/assets/jquery.mb.YTPlayer.js" %>
<%= javascript_include_tag "/assets/jquery.easing.min.js" %>
<%= javascript_include_tag "/assets/jquery.scrollTo.js" %>
<%= javascript_include_tag "/assets/jquery.appear.js" %>
<%= javascript_include_tag "/assets/stellar.js" %>
<%= javascript_include_tag "/assets/wow.min.js" %>
<%= javascript_include_tag "/assets/owl.carousel.min.js" %>
<%= javascript_include_tag "/assets/nivo-lightbox.min.js" %>
<%= javascript_include_tag "/assets/jquery.nicescroll.min.js" %>
<%= javascript_include_tag "/assets/custom.js" %>
<%= javascript_include_tag "/assets/contactform.js" %>
</body>
</html>
