<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="KNUST ECONOMICS">
  <meta name="author" content="David Adafia">
  <title>Esaknust</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    "/assets/bootstrap.css" %>
  <%= stylesheet_link_tag    "/assets/font-awesome.css" %>
  
</head>
<body>
<!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/homes/index">
                     <span class="light">ESA KNUST</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <%= link_to 'EXECUTIVES',abouts_index_path %>
                    </li>
                    <li>
                        <%= link_to 'CLASSROOM',years_index_path %>
                    </li>
                    <li>
                        <%= link_to 'BLOG',blogs_index_path %>
                    </li>
                    <li> <% if current_user %>
                    <%= link_to 'LOGOUT', '/users/sign_out' %>
                    <% else %></li>
                    <li class="page-scroll">  <%= link_to 'LOGIN', '/users/sign_in' %></li>
                    <li class="page-scroll"> <%= link_to 'SIGNUP', '/users/sign_up' %></li>
                    <% end %> 
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<%= yield %>
 <!-- Footer -->
    <footer class="text-center" id="contact">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-sm-4">
                        <h3>Developers</h3>
                        <p><a href="https://starkdafia.herokuapp.com/homes/index">PASCOLOGY</a>
                            <br><%= link_to 'Meet The Team',abouts_team_path %></p>
                    </div>
                    <div class="footer-col col-sm-4">
                        <h3>Connect With Us</h3>
                        <p>Knust Campus - Kumasi
                            <br>esaknust17@gmail.com</p>
                    </div>
                    <div class="footer-col col-sm-4">
                        <h3>Social Media</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://facebook.com/KNUST-ESA-17-1271732019622602/?ref=opera_speed_dial" class="btn-outline btn-social "><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://instagram.com/p/BYIZHmXH37k/" class="btn-outline btn-social "><i class="fa fa-fw fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Pascology Limited 2017
                    </div>
                </div>
            </div>
        </div>
    </footer> 
<%= javascript_include_tag "/assets/jquery.js" %>
<%= javascript_include_tag "/assets/bootstrap.js" %>
</body>
</html>
