<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="PASCOLOGY BY DAVID ADAFIA">
  <meta name="author" content="David Adafia">
  
  <title>PSCLGY | Online Learning</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= mathjax_tag %>
  <%= stylesheet_link_tag    "/assets/bootstrap.min.css" %>
  <%= stylesheet_link_tag    "/assets/animate.css" %>
  <%= stylesheet_link_tag    "/assets/style.css" %>
  <%= stylesheet_link_tag    "/assets/font-awesome.css" %>

</head>
<body>    
<%= yield %>
    
<%= javascript_include_tag "/assets/jquery.min.js" %>
<%= javascript_include_tag "/assets/bootstrap.min.js" %>
<%= javascript_include_tag "/assets/jquery.easing.min.js" %>
<%= javascript_include_tag "/assets/wow.min.js" %>
<%= javascript_include_tag "/assets/custom.js" %>
</body>
</html>
